header{
	padding: 0.2em;
	color: black;
	clear: left;
	text-align: center;
}

li{
	margin: 10px 0;
}

nav {
	float: left;
	max-width: 160px;
	margin: 0;
	padding: 1em;
}

nav ul {
	list-style-type: none;
	padding: 0;
}
   
nav ul a {
	text-decoration: underline;
	color:blue;
	font-size:large;
}
